
*{
    background-color:rgb(255, 255, 255);
    text-decoration: none;
}

.titulo{
color: blue;
}

.titulo:hover{
color: red;
}

.site-youtube:active{
    color: red;
    background-color: blue;
}

.site-youtube:visited{
    background-color: black;

}

#texto:focus{
font-size: 15px;
background-color: blueviolet;
color: red;
}

.item:first-child,
.item:last-child {
    color: red;
}

.lista:not(.destaque){
background-color: blue;
}

/*pares*/
.item:nth-child(2n) {
background-color: aquamarine;
}

/*impares*/
.item:nth-child(odd) {
    background-color: red;
}

p:first-of-type {
    color: blueviolet;
}

.gradiente{
width: 150px;
height: 150px;
background-image: radial-gradient(blue, red, yellow);
}

.transforma{
    margin: 20px;
    width: 150px;
    height: 150px;
    background-color: blue;
    transform: skew(40deg);
    transition: widht 3s, height 3s;
}

.transforma:hover{
    width: 300px;
    height: 300px;
}

